
<div class="hero-unit">
	<h1>{{=it.title}}</h1>
  <p>Every start is funny</p>
  <p>
    <a class="btn btn-primary btn-large">
      Don't push me
    </a>
  </p>
</div>

<div class="container">
	<div class="row-fluid">

	  <div class="span9">
	  	<p>Candy canes topping chupa chups. Sugar plum lollipop croissant bear claw. Bonbon liquorice marzipan jelly beans unerdwear.com candy. Ice cream biscuit cotton candy marshmallow.
			Oat cake lollipop gingerbread pie topping cotton candy. Soufflé danish marzipan danish biscuit marzipan jelly beans apple pie. Brownie ice cream sweet marzipan. Sweet marzipan chocolate cake biscuit wafer.
			Ice cream fruitcake bonbon lemon drops jelly-o cookie unerdwear.com bear claw sweet. Jelly-o sweet roll dragée. Cotton candy fruitcake candy bear claw chocolate danish jelly tiramisu.
			Tiramisu soufflé croissant tiramisu dessert candy chupa chups gummies biscuit. Apple pie icing jelly-o carrot cake topping. Pie cupcake jelly.
			Chocolate cake caramels croissant marzipan liquorice. Caramels macaroon sweet. Chocolate marzipan jelly tootsie roll chocolate bar. Oat cake chocolate cake macaroon.</p>

	    <div class="row-fluid">
	      <div class="span6 well">
	      	<h4>Contact info</h4>
	      	<p>If you're interested in working for us, browse careers for current opportunities. </p>
	      	<a href="#" class="btn btn-primary"><i class = "icon-heart icon-white"></i> mail me </a>
	      </div>
	      <div class="span6">         	
	    		<h4>Contact info</h4>
	      	<p>If you're interested in working for us, browse careers for current opportunities. </p>
	      	<a href="#" class="btn btn-primary btn-large"> mail me </a>
	      </div>
	     </div>
	  </div>

	  <div class="span3">
	  	<ul class="nav nav-list well">
	  		<li><a href="#" class="nav-header">Language</a></li>
	  		<li class="active"><a href="#">Javascript</a></li>  		
	  		<li><a href="#">Java</a></li>
	  		<li class="divider"><a href="#">Java</a></li>
	  		<li><a href="#">Python</a></li>
	  	</ul>
	  	<p></p>
	  	<p class="well">Bonbon bonbon ice cream cheesecake marzipan. Pudding sweet roll bonbon powder tiramisu. Ice cream halvah gingerbread brownie chocolate unerdwear.com lollipop.
			Unerdwear.com caramels sugar plum tart brownie. Cake lemon drops tootsie roll. Chocolate cake bonbon cake lollipop icing ice cream soufflé chocolate sugar plum. Wafer jelly brownie bear claw halvah.
			Soufflé brownie powder gummi bears biscuit. Pie macaroon soufflé pie. Chocolate cake halvah carrot cake gummies wafer. Sweet roll sugar plum pie croissant wafer candy canes.
			Sugar plum caramels dragée cake. Candy biscuit unerdwear.com unerdwear.com candy jelly-o pie tiramisu macaroon. Fruitcake cake lollipop sugar plum lemon drops topping pastry cotton candy.
			Bear claw tiramisu dessert tootsie roll. Danish caramels dessert apple pie. Jelly fruitcake brownie gummi bears danish marshmallow. Dessert dessert cake.</p>
	  </div>
	</div>

</div> <!-- end container -->

<!-- <h1>Hi {{=it.title}}!</h1>

{{ for (var i = 1; i <= 10; i++) { }}
<p>{{=i}}: Welcome to {{=this.platform}}</p>
{{ } }} -->